DISCORD_TOKEN=your_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here

YOUTUBE_API_KEY=your_youtube_api_key_here

SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here

PREFIX=.
DEFAULT_VOLUME=70
AUTO_DISCONNECT_TIME=300
